@charset "UTF-8";
/* Navbar principale */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  /* Utilise les unités relatives */
  color: var(--red);
  font-weight: 500;
  height: 68px;
  margin-top: 2em;
  padding: 0 16px;
  /* Espacement général */
  width: 100%;
}

/* Logo */
.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 68px;
  width: auto;
  margin-left: 40px;
}

/* Liens */
.nav-links {
  display: flex;
  gap: 16px;
  /* Remplace margin-right pour éviter les problèmes */
}

.nav-links a {
  text-decoration: none;
  /*cacher la ligne */
  color: var(--red);
  font-size: 24px;
  font-weight: 500;
  padding: 8px 12px;
  /* Espacement autour du texte */
  /*barre en dessous boutons*/
}

.nav-links a:hover {
  border-bottom: var(--red) 3px solid;
}

/*indiquer la page actuel avec la barre */
.nav-links a.active {
  text-decoration: underline;
}

.nav-links a.active:hover {
  text-decoration: none;
}

/* Responsivité */
@media screen and (max-width: 1268px) {
  .navbar {
    margin: 1em auto;
    width: 98%;
  }
  .logo img {
    margin-left: 1em;
  }
  .nav-links {
    gap: 12px;
  }
  .nav-links a {
    font-size: 0.9rem;
    padding: 6px 10px;
  }
}

@media screen and (max-width: 800px) {
  .logo img {
    margin-left: 0;
    width: 145px;
  }
}

@media screen and (max-width: 568px) {
  .nav-links {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .nav-links a {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 387px) {
  .nav-links a {
    font-size: 0.7rem;
    padding: 4px 8px;
  }
}
