/*LOgo*/

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    color: var(--red);
    font-weight: 500;
    height: 68px;
    margin-top: 2em;
    width: 100%;

}
.logo {
    display: flex;
    justify-content: space-between;
    width: 70%;
}
/* Espace a droite du logo*/
.logo img {
    height: 68px;
    margin: 0 0 0 2.5em;
    width: 210px;
    height: 68px;
}
.nav-links{
    width: 18%;

}
.nav-links a {
    text-decoration: none;
    color: var(--red);
    width: 30%;
    margin-right: 1em;
    font-size: 24px;

    /*barre en dessous boutons*/
    & :hover {
        border-bottom: var(--red) 3px solid;
    }
}

/*indiquer la page actuel avec la barre */
.nav-links a.active {
    text-decoration: underline;
}
.nav-links a.active:hover {
    text-decoration: none;
}

/*pour media queries*/
@media screen and (max-width: 1268px) {
    .navbar {
        width: 98%;
        margin: 1em 0 0 10px;
    }
    .logo img {
        display: flex;
        margin: 0 0 0 1em;
        width: auto;
    }

    .nav-links {
        width: 30%;
        margin-right: 2em;
        display: flex;
        justify-content: space-between;
    }
    .nav-links a {
        width: auto;
        font-size: 90%;
        margin: 0 10px 0px 0;
    }
}
/*TABLETTE */
@media screen and (max-width: 800px) {
    .navbar {
        width: 98%;
    }

    .logo {
        width: auto;
    }
    .logo img {
        width: 145px;
    }
    .nav-links {
        width: auto;
        margin-right: 1em;
        text-transform: uppercase;
    }
}

/*MOBILE */
@media screen and (max-width: 568px) {
   .navbar{
    zoom: 80%;
    width: auto;
    & .nav-links{
        zoom: 90%;
        width: fit-content;
    }
   }

}

@media screen and (max-width: 387px) {
    .navbar{
     zoom: 70%;
     width: auto;
     & .nav-links{
         zoom: 90%;
         width: fit-content;
     }
    }
 
 }