.about {
  border: solid 5px red;
  display: flex;
  flex-direction: column;
align-content: center;
justify-content: center;
align-items: center;
}

.about nav.navbar{
border: solid 5px purple;
  margin-bottom: 20px;
margin-top: 10px;
}

.about div.banner{
  border: solid 5px blue;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0;
  margin: 0;
}