.pageappart {
    border: solid 1px black;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


& .footer {
    margin-top: 25em;
    margin-bottom: 0;
}
}