@charset "UTF-8";
.pageappart .box-container {
  border: solid 1px black;
}

.imgappart {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  margin: auto;
  margin-top: 1.2em;
}

.imgappart img {
  object-fit: cover;
  width: 100%;
  height: 415px;
  border-radius: 25px;
}

.imgappart .carousel-button {
  background-color: inherit;
  color: var(--blanc);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 65px;
  padding: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.imgappart .carousel-button:hover {
  background-color: inherit;
}

.imgappart .carousel-button:first-of-type {
  left: 10px;
}

.imgappart .carousel-button:last-of-type {
  right: 10px;
}

.imgappart .carousel-counter {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  color: var(--blanc);
  position: absolute;
  bottom: 10px;
  padding: 5px 10px;
  border-radius: 5px;
}

.infoappart {
  color: var(--red);
  width: 95%;
  display: flex;
  margin: 1em 0 0 40px;
  justify-content: space-between;
}

.infoappart .nomappart {
  width: 100%;
}

.infoappart .badge {
  color: var(--red);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.infoappart .badge h3 {
  font-size: 18px;
  font-weight: 500;
  display: flex;
  align-self: center;
}

.infoappart .badge img.host-picture {
  width: 100px;
  height: 100px;
  margin-top: 10px;
  border-radius: 50%;
  display: flex;
  align-self: center;
}

.trois-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 95%;
  justify-self: center;
}

.trois-box .textapparttitresous {
  width: 50%;
  margin: 1em 0 0 0px;
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.trois-box p {
  background-color: var(--red);
  color: var(--blanc);
  font-size: 18px;
  font-weight: 500;
  border-radius: 15px;
  padding: 5px 20px;
}

.trois-box .etoile {
  width: 15%;
  padding: 0 1em;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  margin: 25px 0 0 0;
}

.trois-box span {
  display: inline-block;
  /* Permet de manipuler les propriétés de mise en forme */
  font-size: 30px;
  /* Taille de l'étoile */
}

.trois-box span i.fas.fa-star {
  color: var(--star);
  /* couleur pour l'étoile vide */
}

.trois-box span.filled i.fas.fa-star {
  color: var(--red);
  /* couleur pour l'étoile pleine */
  font-size: 30px;
  /* taille des étoiles pour mieux visualiser */
}
