@use "../components/scss/variables.scss" as *; //Import global

.error-page {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;


    & .navbar {
        margin-top: 1em;
        align-self: center;
    }
}

.error {
    & h1 {
        color: $red;
        font-size: 288px;
        font-weight: bold;
        margin-top: -10px;
    }

    & p {
        color: $red;
        font-size: 20px;
        margin-top: -10em;
        margin-bottom: 5em;
    }

    & a {
        font-size: 18px;
        color: $red;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

@media screen and (max-width: 767px) {
    .error-page {
        & .navbar {
            margin-top:25px;
        }

        & h1 {
            color: $red;
            font-size: 180px;
            font-weight: bold;
            margin-top: -10px;
        }

        & p {
            color: $red;
            font-size: 18px;
            margin-top: 0;
            margin-bottom: 5em;
        }

        & a {
            font-size: 14px;
        }
    }
}