.appartement {
  border-radius: 10px;
  width: 400px;
  height: 300px;
  gap: 1em;
  display: flex;
  position: relative;
  justify-self: center;
  flex-direction: column;
  justify-content: center;
}

.appartement:hover {
  animation-name: scale-up-center;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

.appartement h1 {
  color: var(--blanc);
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
  width: 90%;
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  position: absolute;
  bottom: 0;
  justify-self: flex-end;
  justify-content: flex-start;
}

.appartement img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: flex;
  position: absolute;
  border-radius: 10px;
}

/*Animation cartes appartements */
@keyframes scale-up-center {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

/*pour media queries*/
@media screen and (max-width: 1255px) {
  .appartement {
    width: 100%;
    height: 200px;
    margin: auto;
  }
  .appartement h1 {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .appartement {
    height: 300px;
    width: 100%;
  }
  .appartement h1 {
    width: 25%;
  }
}

@media screen and (max-width: 535px) {
  .appartement h1 {
    width: 29%;
    font-size: 20px;
  }
}
