/* Conteneur général */

.box-appart {
  color: #333;
  display: flex;
  width: 98%;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  gap: 3em;

  /* Section Conteiner */
  .Conteiner-container {
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
    width: 48%;
    height: fit-content; /* Hauteur standardisée */
    max-height: 300px;
   
  }
}
.Conteiner-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--red);
  color: var(--blanc);
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 10px;
  height: 52px;
}
.Conteiner-header span {
  font-weight: 500;
  font-size: 18px;
}
.Conteiner-header i {
  transition: transform 0.3s ease;
}

.Conteiner-content {
  padding: 15px;
  display: none;
}
.Conteiner-content.open {
  display: block;
  background-color: var(--gris);
  height: 250px;
  & p{
    font-size: 18px;
    font-weight: 400;
    background-color: inherit;
  color: var(--red);
  
  }
  & ul{
    margin: 15px 0 0 -30px;
  }
  & li{
    font-size: 18px;
    font-weight: 400;
    background-color: inherit;
    list-style: none;
    font-size: 18px;
    font-weight: 400;
    background-color: inherit;
  color: var(--red);
  display: flex;
  margin-bottom: 10px;

  }
}

/* Section Équipements */
.equipment-container {
  border-radius: 10px;
  overflow: hidden;
  width: 49%;
  height: fit-content; /* Hauteur standardisée */
  max-height: 300px;
}
.equipment-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--red);
  color: var(--blanc);
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 10px;
}
.equipment-header h4 {
  margin: 0;
  font-weight: 500;
  font-size: 18px;
}
.equipment-header i {
  transition: transform 0.3s ease;
}

.equipment-content {
  padding: 15px;
  display: none;
  font-size: 18px;
}
.equipment-content.open {
  display: block;
  background-color: var(--gris);
  height: 300px;
  color: var(--red);
}

/* Liste des équipements */
.equipment-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.equipment-content li {
  margin-bottom: 10px;
}

/* Badges pour équipements (L, H, A) */
.equipment-content .badge {
  display: inline-block;
  margin-left: 5px;
  padding: 2px 8px;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  border-radius: 5px;
}

@media screen and (max-width: 800px) {

.box-appart{
  flex-direction: column;
  gap: 10px;
  width: 95%;
  padding: 0;
& .Conteiner-container{
  width: 99.8%;
}
}

}

