.banner {
  background-image: url("/public/IMG.jpg");
  background-size: cover;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 93%;
  height: 223px;
  margin-bottom: 3em;
  margin-right: auto;


  & h1 {
    color: var(--blanc);
    font-size: 48px;
    font-weight: 500;
    display: flex;
    position: absolute;
    height: 68px;
  }
}

.filtreBanner {
  background-color: black;
  height: 223px;
  opacity: 0.5;
  border-radius: 25px;
  width: 100%;
}



@media screen and (max-width: 780px) {
.banner h1{
  font-size: 30px;

}

}

@media screen and (max-width: 580px) {
  .banner h1{
    font-size: 22px;
  
  }
  
  }