.banner {
  background-image: url("../../public/IMG.jpg");
  display: flex;
  align-items: center;
  justify-items: center;
  position: absolute;
  border-radius: 25px;
  background-size: 100%;
  width: 93%;
  height: 223px;
  margin: 0 0 0 3.5em;
}

.banner h1 {
    color: #ffffff;
    font-size: 48px;
    font-weight: 500;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: max-content;
    margin: 0 0 0 -22.8em;
    line-height: 68px;
}

.filtreBanner {
  background-color: black;
  height: 223px;
  opacity: 0.5;
  border-radius:25px ;

}
