@use "./scss/variables" as *; // Import global

.box-about {
  width: 95%;
  display: flex;
  justify-self: center;
  align-items: center;
  flex-direction: column;
  gap: 2em;
  margin-top: 40px;
}
.Conteiner-container {
  width: 90%;
}
.Conteiner-titre {
  width: 100%;
  background-color: $red;
  border-radius: 5px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  & span {
    color: white;
    font-size: 24px;
  }
  & i{
    color: white;
    font-size: 20px;
  }
}
.Conteiner-about{
  padding: 15px;
    
  &.open{
  height: auto;
  border-radius: 5px;
    background-color: $gris;
    font-size: 18px;
    color: $red;
}
}
/*Media querry */
@media screen and (max-width: 767px) {
  .box-about {
      margin-bottom: 3em;
      .Conteiner-titre span{
        font-size: 18px;
      }
      .Conteiner-about.open{
        font-size: 16px;
        padding: 10px;
      }
    }
}


/*Adaptation mobile */
@media screen and (max-width: 569px) {
  .box-about {
      .Conteiner-titre span{
        font-size: 13px;
      }
      .Conteiner-about.open{
        font-size: 12px;
        padding: 10px;
      }
    }
}