*{
    box-sizing: border-box;
padding: 0;
width:100%;
}
/*LOgo*/
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    color: #ff6060;
    font-weight: 500;
    width: 94%;
    margin: 1em 0 1em 2.5em;
    height: 68px;
}

/* Espace a droite du logo*/
.logo img{
    height: 68px;
    width: auto;
    padding: 0 39em 0 0;
}

.navbar div a{
    text-decoration: none;
    color: #ff6060;
}

/*barre en dessous boutons*/
.navbar div a:hover{
    border-bottom: #ff6060 2px solid;
}